<% @roles.each do |role| %>
	<% @flag = false %>
	<% if action_name == "edit" %>
		<% @user_roles.each do |user_role|
			if user_role.id == role.id
				@flag = true
				break
			else
				@flag = false
			end
		end %>
	<% end %>
	<% if @flag %>
	<label class="checkbox">
		<%= check_box_tag 'role_ids[]', role.id , :checked => "checked" %>
		<%= h role.role_name %>
	</label>
	<% else %>
	<label class="checkbox">
		<%= check_box_tag 'role_ids[]', role.id %>
		<%= h role.role_name %>
	</label>
	<% end %>
<% end %>
