<h3><i class="fa fa-smile-o"></i>&nbsp;About project</h3>
<hr/>
<p>You can now segregate your customer database into Past customers, Present
customers and potential customers or Enquiries. You can plan Marketing messages
for all different segments. For Past Customers, You may send periodic ( monthly )
renewal option, discount offers, One time offers, New Upgrades or service or
product, competitive analysis, case studies using an Email Newsletter or a printed
Direct mailer. You could also send SMS with offers.</P>
<p>For potential customers, You could do something similar but with a difference.
And not to forget the existing customers, You can send Welcome note, special
Upgrades,referral programs , reward for referrals, complimentary product sales and
so forth.You can devise similar marketing messages for Your other contacts like
Friends,relatives, Business associates, vendors and just about any segmentation you
want. You can even set a special list of people as VIP or VVIP. You can plan a extra
special campaign for these with real Gifts, telephone calls and Personal Visits.</p>
<p>Imagine these Hundreds of specific Messages planned in advance, ready to go
on specific days depending on the Customer Segment . You may segment your
contacts and customers into 5-6 or even 20 categories. You contact them and keep in
touch with VALUE ADDED , personalized and customized marketing messages.</p>
<p>The idea here is not only to send Reminders and Marketing Messages, The Chief aim
is to give the customer the Experience of being cared for, Giving him additional
Bonus information, remembering him on all special occasions of the year and contacting him using SMS.</P>


