<% @groups.each do |group| %>
	<% @flag = false %>
	<% if action_name == "edit" %>
		<% @role_groups.each do |role_group|
			if role_group.id == group.id
				@flag = true
				break
			else
				@flag = false
			end
		end %>
	<% end %>
	<% if @flag %>
	<label class="checkbox">
		<%= check_box_tag 'group_ids[]', group.id , :checked => "checked" %>
		<%= h group.group_name %>
	</label>
	<% else %>
	<label class="checkbox">
		<%= check_box_tag 'group_ids[]', group.id %>
		<%= h group.group_name %>
	</label>
	<% end %>
<% end %>
