// Place all the styles related to the compose_sms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact_number_tbl
{
	width: 40%;
	background-color: #efefef;
}
.contact_number_tbl tr td
{
	padding: 5px;
}
.sms_template_tbl{
	background-color: #efefef;
}

