// Place all the styles related to the remiders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
select{
	width: 150px;
}
.contact_number_tbl
{
	width: 60%;
	background-color: #efefef;
}
.contact_number_tbl tr td
{
	padding: 5px;
}
